.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e9e7e7;
}

.custom-text {
  font-family: 'Inconsolata', monospace;
  color: #000;
  text-align: center;
  margin: 0;
  letter-spacing: -0.05em;
  font-weight: 700;
}
